.container{
            display: flex;
            justify-content: center;
            align-content: center;
        }
        .box1{
            padding: 20px;
            margin:12px 22px 22px;
            height: 70px;
            width: 70px;
            background-color: aqua;
            display: flex;
            justify-content: center;
            align-content: center;
        }
#scaleX {
  transform: scaleX(1);
  transition: transform 0.5s ease;
}


 #scaleX:hover {
  transform: scaleX(2);
}

#scaleY {
  transform: scaleY(1);
  transition: transform 0.5s ease;
}


#scaleY:hover {
  transform: scaleY(2);
}

#scale {
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}


#scale:hover {
  transform: scale(1.5, 1.5);
}

#translateX {
  transform: translateX(1);
  transition: transform 0.5s ease;
}


#transletX:hover {
  transform: translateX(2em);
}

#transleteY {
  transform: translateY(1);
  transition: transform 0.5s ease;
}


#transletY:hover {
  transform: translateY(2em);
}

#translete {
  transform: translate(1, 1);
  transition: transform 0.5s ease;
}


#translet:hover {
  transform: translate(2em, 2em);
}

#matrix {
  transform: matrix(1, 1, 1, 1);
  transition: transform 0.5s ease;
}

 #matrix:hover {
  transform: matrix(1, -1, 0, 1, 0, 0);
}

#rotate {
  transform: rotate(0);
  transition: transform 0.5s ease;
}

#rotate:hover {
  transform: rotate(270deg);
}

#skew {
  transform: skew(1, 1);
  transition: transform 0.5s ease;
}

#skew:hover {
  transform: skew(30deg, 20deg);

}

#skewX {
  transform: skewX(1);
  transition: transform 0.5s ease;
}

#skewX:hover {
  transform: skewX(30deg);

}

#skewY {
  transform: skewY(1);
  transition: transform 0.5s ease;
}

#skewY:hover {
  transform: skewY(30deg);

}

#matrix3d {
  transform: matrix3d(1);
  transition: transform 0.5s ease;
}

 #matrix3d:hover{
  transform: matrix3d(0.8535533905932737, 0.4999999999999999, 0.14644660940672619, 0, -0.4999999999999999, 0.7071067811865476, 0.4999999999999999, 0, 0.14644660940672619, -0.4999999999999999, 0.8535533905932737, 0, 22.62994231491119, -20.3223304703363, 101.3700576850888, 1)
}

#translete3d {
  transform: translate3d(1px, 1px, 1);
  transition: transform 0.5s ease;
}

#translet3d:hover {
  transform: translate3d(1px, 1px, 50px) rotate3d(3, 2, 2, 90deg);

}

#rotateY {
  transform: perspective(1) scaleZ(1) rotateY(0deg);
  transition: transform 0.5s ease;
}

#rotateY:hover {
  transform: perspective(500px) scaleZ(2) rotateY(45deg);

}

#rotateX {
  transform: perspective(1) scaleZ(1) rotateX(0deg);
  transition: transform 0.5s ease;
}

#rotateX:hover {
  transform: perspective(500px) scaleZ(2) rotateX(45deg);

}

#transleteZ {
  transform: translateZ(1px);
  transition: transform 0.5s ease;
}

#transletZ:hover {
  transform: rotate3d(3, 2, 2, 90deg) translateZ(50px);

}